# npm 镜像源配置

registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node/
sass-binary-site=https://npmmirror.com/mirrors/node-sass/
build-from-source=false
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/

